body {
    padding: 0;
    margin: 0;
}

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#one {
    background-color: brown;
    border: 1px solid rgb(255, 102, 0);
}

#two {
    background-color: rgb(67, 165, 42);
    border: 1px solid rgb(0, 153, 255);
}

.hero {
    min-height: 100vh;
    background: no-repeat url(https://images.pexels.com/photos/3591557/pexels-photo-3591557.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) fixed center center;
}

#title {
    color: white;
    text-shadow: 1px 0 10px black;
    text-align: center;
    font-size: 3.5em;
}

#quest {
    color: white;
    text-shadow: 1px 0 10px black;
    text-align: center;
    font-size: 2,5em;
}

.block {
    align-self: center;
    height: 10em;
    color: rgb(255, 102, 0);
    text-shadow: 1px 1px black, -1px -1px 5px black;
    background-color: rgba(255,255,255,0.2);
    border: 3px solid rgb(255, 102, 0);
    outline: 5px solid rgba(255,255,255,0.2);
    text-align: center;
    transition: color 0.4s ease, background-color 0.4s ease, border 0.4s ease, outline 0.4s ease;
}

.block:hover {
    color: rgba(255,255,255);
    background: rgba(255, 102, 0, 0.3);
    border: 3px solid rgba(255,255,255,0.6);
    outline: 5px solid rgba(255, 102, 0, 0.3);
    transition: color 0.4s ease, background-color 0.4s ease, border 0.4s ease, outline 0.4s ease;
}

.block svg {
    margin-top: 10px;
}

.navbar {
    min-height: 10vh;
}

.grid-box {
    padding-right: 0;
}

.info {
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 3%;
}

.grid-row {
    display: flex;
}

.grid-row > p, .grid-row > button {
    margin-left: 20%;
    margin-right: 10%;
    text-align: justify;
}

.grid-row h3 {
    margin-left: 20%;
    margin-right: 10%;
}

.grid-row button {
    align-self: flex-start;
}

#info-btn {
    margin-bottom: 10%;
}

#flower {
    padding: 0;
    overflow: hidden;
}

#flower img{
    height: 100%;
}

@media screen and (max-width: 600px) {
      
    .grid-row button {
        align-self: center;
    }

    #flower {
        max-height: 35vh;
    }

    #flower img{
        width: 100%;
    }
}



.form {
    width: 30%;
    height: auto;   
}

.invalid-feedback {
    font-size: smaller;
}

.info_name {
    font: normal normal bold 42px/1.3em 'arial black',arial-w01-black,arial-w02-black,'arial-w10 black',sans-serif;
}

.line {
    margin-left: 20%;
    width: 30%;
    height: 2px;
    background-color: black;
    align-self: flex-end;
    border-radius: 15px;
    margin-top: 10%;
}