* {
    padding: 0;
    margin: 0;
}

/**,
*::before,
*::after {
    /*box-sizing: inherit;
}*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html {
    box-sizing: border-box;
    font-size: 120%;
}

@media (width: 400px) {

}


body {
    width: 100%;
    font-family: 'Playfair Display', serif;
}

.row {
    width: 100%;
    margin: 0;
}

.navbar-menu {
    justify-content: space-between;
}

#one {
    background-color: brown;
    border: 1px solid rgb(255, 102, 0);
}

#two {
    background-color: rgb(67, 165, 42);
    border: 1px solid rgb(0, 153, 255);
}

.hero {
    min-height: 100vh;
    background: no-repeat url(https://images.pexels.com/photos/3591557/pexels-photo-3591557.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) fixed center center;
    background-size: cover;
}

#title {
    color: white;
    text-shadow: 1px 0 10px black;
    text-align: center;
    font-size: 3.5em;
}

#quest {
    color: white;
    text-shadow: 1px 0 10px black;
    text-align: center;
    font-size: 2,5em;
}

.block {
    align-self: center;
    height: 10em;
    color: rgb(255, 102, 0);
    text-shadow: 1px 1px black, -1px -1px 5px black;
    background-color: rgba(255,255,255,0.2);
    border: 3px solid rgb(255, 102, 0);
    outline: 5px solid rgba(255,255,255,0.2);
    text-align: center;
    transition: color 0.4s ease, background-color 0.4s ease, border 0.4s ease, outline 0.4s ease;
}

.block:hover {
    color: rgba(255,255,255);
    background: rgba(255, 102, 0, 0.3);
    border: 3px solid rgba(255,255,255,0.6);
    outline: 5px solid rgba(255, 102, 0, 0.3);
    transition: color 0.4s ease, background-color 0.4s ease, border 0.4s ease, outline 0.4s ease;
}

.block svg {
    margin-top: 10px;
}

.navbar {
    min-height: 10vh;
}

.grid-box {
    padding-right: 0;
}

.info {
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 3%;
}

.grid-row {
    display: flex;
}

.grid-row > p, .grid-row > button {
    margin-left: 20%;
    margin-right: 10%;
    text-align: justify;
}

.grid-row h3 {
    margin-left: 20%;
    margin-right: 10%;
}

.grid-row button {
    align-self: flex-start;
}

#info-btn {
    margin-bottom: 10%;
}

#flower {
    background: no-repeat url(https://cdn.pixabay.com/photo/2020/03/13/14/06/dead-sea-4927978_960_720.jpg);
    background-size: cover;
}

.form {
    width: 30%;
    height: auto;   
}

.invalid-feedback {
    font-size: smaller;
}

.line {
    margin-left: 20%;
    width: 30%;
    height: 2px;
    background-color: black;
    align-self: flex-end;
    border-radius: 15px;
    margin-top: 5%;
}

.info-block {
    margin-bottom: 0;
    padding-bottom: 0;
}

section {
    margin-top: 0;
    padding-top: 0;
    min-height: 60vh;
    color: white;
    background: no-repeat url(https://images.pexels.com/photos/3656989/pexels-photo-3656989.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) fixed center center;
    background-size: cover;
}

.order-info > h3 {
    margin-left: 20%;
}

.order-info > .line {
    background-color: white;
}

.order-menu {
    height: inherit;
    text-align: center;
}

.order-preview {
    margin: 3% auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-preview-line {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.order-preview-panel {
    border-bottom: 1px solid #fd7200;
    width: 50%;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
}

.order-line {
    margin: 0;
    width: 50%;
    height: 30px;
    color: #fd7e14;
    padding-top: 5px;
    align-self: flex-start;
    position: relative;
    left: 0%;
    opacity: 1;
    transition: left .7s ease;
}

.order-line:active {
    left: 50%;
}

.order-tabs {
    display: flex;
    flex-direction: row;
    padding-left: 2%;
}

.order-tab {
    border: 2px solid black;
    border-bottom: none;
    width: 200px;
    height: 50px;
    margin: 0 1px;
    position: relative;
    top: 2px;
    background-color: white;

}

.orders {
    border-top: 2px solid black;
}

/*  Media-queries   */

@media screen and (max-width: 740px) {
      
    .hero {
        background-attachment: scroll;
    }
    
    .grid-row button {
        align-self: center;
    }

    #flower {
        min-height: 300px;
    }

    section {
        background-attachment: scroll;
    }

}